name: C/C++ CI

on:
  push:
    branches: [ test ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: build for android
      run: |
        pwd && \
        sudo apt-get install ccache && \
        cd platforms/android && \
        mkdir build && \
        python build_sdk.py --sdk_path=${ANDROID_HOME} --ndk_path=${ANDROID_HOME}/ndk-bundle work_dir=./buildame 
    - name: tar
      run: |
       cd platforms/android && tar czvf opencv_android.tar.gz build
    - name: upload
      run: curl -F "file=@platforms/android/opencv_android.tar.gz" http://www.vsa.ac.cn:8081/upload 





